body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  background-color: #ffa;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 40px;
}
.container{	
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.cart {
	flex: 1 20rem;
}
.product-list {
  flex: 3 40rem;
}
.products{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.products li{
	flex: 1 1 10rem;
	height: 10rem;
	padding: 1rem;
	margin: 1rem;
}

.product {
	font-size: small;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.product img{
	max-width: 7rem;
	min-height: 7rem;
}